

.questionField{
    background:#303030;
    display: flex;
    padding: 1rem;
    margin-bottom: 25px;
    border-radius: 0.25rem;
}

.animalImage{
    width: 200px;
    height: 155px;
    border-radius: 10px;
    margin: 0;
}
